# encoding: UTF-8
<script src="/assets/assignment/app.js"></script>
<script src="/assets/assignment/pagosController.js"></script>
<script src="/assets/assignment/pagosServices.js"></script>
<div ng-app="appPagos" ng-controller="assignmentController">
  <div class = "well span4" >
    <h4>Geografías</h4>
    <select class="span4 required" ng-model="selectedProvince" ng-options="province for province in provinces"></select>
    <select size=20 class="span4 required" ng-model="selectedVillage" ng-options="geography.hierarchy for geography in geographies">
    </select>
  </div>

  <div class = "well span4" style = "height: 437px">
    <h4>Voluntarios</h4>
    <div style="height:40px">
      <div class="panel" style="border:2px solid #ccc; height: 385px; overflow-y: scroll; background-color:#ffffff">
        <ul class="unstyled">
          <li ng-repeat="volunteer in volunteers">
          <input type="checkbox" value="{{ volunteer.id }}" ng-model="volunteer.selected" ng-change="saveAssignment(volunteer)" ng-checked='volunteer.selected'>
          <span class="volunteer-name">{{volunteer.first_name + ' ' + volunteer.last_name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

