# encoding: UTF-8
<div class = "well span4">
  <h4>Geografías</h4>
  <select id="provinces" class="span4 required" data-bind="options: provinces(), value: selectedProvince"></select>
  <select id="localities" size=20 class="span4 required" 
    data-bind="options: localities(), optionsValue: 'idAsentamiento', value: selectedVillage,
    optionsText:function (item) { return item['ciudad'] + ' - ' + item['asentamiento'] } ">
  </select>
</div>

<div class = "well span4" style = "height: 437px">
  <h4>Voluntarios</h4>
  <div style="height:40px">
    <div class="panel" style="border:2px solid #ccc; height: 385px; overflow-y: scroll; background-color:#ffffff">
      <ul class="unstyled" data-bind="foreach: volunteers()">
        <li>
        <input type="checkbox" data-bind="value: id, checked: assigned ,event: { change: $root.createAction }"><span data-bind="text: [first_name() + ' ' + last_name()]"></span>
        </li>
      </ul>
    </div>
  </div>
</div>

<script src="/assets/assignment/geographies.js"></script>
