<div id="accordion" class="accordion" >
  <% @families.each do |geography, families| %>
    <% families.each do |family|%>
      <%= render partial: "payment_form", locals: { family: family } %>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag "payments/payments.js" %>
