<div id="accordion" class="accordion" >
<% @families.each do |family| %>
  <%= render partial: "payment_form", locals: { family: family } %>
<% end %>
</div>
<%= javascript_include_tag "payments/payments.js" %>
