<div id="accordion" class="accordion" >
  <% @families.keys.sort.each do |geography| %>
    <div class="well"><h4><%= geography %></h4></div>
    <% @families[geography].each do |family|%>
      <%= render partial: "payment_form", locals: { family: family } %>
    <% end %>
  <% end %>
</div>
<%= javascript_include_tag "payments/payments.js" %>
