# encoding: UTF-8
<div class = "well span4">
  <h4>Geografías</h4>
  <div>
    <%= select_tag 'provincia',
      options_for_select(@geographies.uniq{|g| g["provincia"]}
                         .collect{ |g| [ encode_utf_8(g["provincia"]), g["provincia"]] }), {:class => 'span4'}%>
                     </div>

                       <div style="width:400px; overflow:auto">
                         <%= select_tag 'asentamiento', 
                           options_for_select(@geographies.select { |geography| geography["provincia"] != "asdfa" }
                                              .collect{|c| [encode_utf_8( c["provincia"]+ "-" + c["ciudad"] + "-" + c["asentamiento"]), c["idAsentamiento"]]}),
                                              {:multiple => :multiple, :size => 30, :selected => :required,:class => 'span4'}%>
</div>
</div>

<div class = "well span4">
  <h4>Voluntarios</h4>
  <input type="text" class="search-query span3" placeholder="Buscar&hellip;"><span class="fornav"><i class="icon-search"></i></span>
  <div class="panel" style="border:2px solid #ccc; height: 519px; overflow-y: scroll; background-color:#ffffff">
    <% @volunteers.each do |volunteer| %>
      <label>
        <input type="checkbox" value="option1" id="inlineCheckbox1">
        <%=volunteer.first_name + " " + volunteer.last_name %>
      </label>
    <% end %>
  </div>
</div>
